@media screen and (max-width: 480px) {
    .table_ex{
        order: 2;
    }
    .form{
        order: 1;
    }
    .nav{
        flex-direction: column;
        margin: 0 auto;
        margin-left: 0;
        margin-top: 10px;
    }
    .nav > a{
        margin-bottom: 10px;
        padding: 10px 31px; 
        max-width: 79vw;
    }
    .footer_wrap{
        padding-top: 80px;
    }
    .footer{
        padding-bottom: 150px;
        height: 50px;
    }
    section, footer, header{
        width: 100vw;
    }
    .wrap{
        text-align: center;
        justify-content: center;
    }
    .wrap_table{
        display: flex;
        flex-direction: column;
    }
    .copyright{
        font-size: 19px;
    }
    .myHeader {
        justify-content: center;
    }
    ol{
        display: inline-block;
        text-align: left;
        max-width: 70% 
    }
    .hreferens .container {
        border-left: none;
        border-right: none;
    }
    .form {
        padding-bottom: 0;
    }
}