
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url(http://beloweb.ru/wp-content/uploads/2014/04/123456729.jpg);
    background-size: 150%;
    color: white;
}

.container{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}   

a{
    text-decoration: none;
}

header{
    padding: 10px 0;
    background-color: #9900FF;
    color: white;
    border-bottom: 1px solid white; 
}

.myHeader{
    margin: 0 auto;
    max-width: 350px;
    padding: 0 15px;
    display: flex;
}


.myHeader_logo{
    height: 70px;
}

.myHeader_logo img{
    max-width: 70px;
    height: 70px;
}

.myHeader_name-site{
    padding: 28px 10px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.nav{
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
}

.nav > a{
    padding: 20px 40px;
    background-color: #CC00FF;
    border-radius: 50px;
    max-width: 100px;
    text-align: center;
    color: white;
}

.nav a:hover{
   box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.hreferens{
    padding: 20px 0;
    margin-bottom: 20px;
}

.hreferens .container{
    border-left: 1px solid white;
    border-right: 1px solid white;
    
}

.hreferens a{
    color: white;
}

.hreferens ol{
    text-align:left;
}

.wrap{
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.hreferens ol li{
    color: #333333;
    line-height: 18px;
}
.hreferens ol ul li{
    padding-left: 40px;
    max-width: 90px;
    border-bottom: 1px solid white;
}


.table_ex .container{
    padding: 20px 1px;
}

.wrap-table-and-form{
    display: flex;
    flex-direction: column;
}

.wrap_table{
    max-width: 430px;
    margin: 0 auto;
}

table {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 430px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 13px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}


td:nth-child(2n) {
    background: #D8E6F3;
}

.wrap1{
    background-color: #AFCDE7;
    max-width: 410px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 30px;
    border: 1px solid black;
    order: 2;
}

.form{
    padding-bottom: 23px;
}

.form_inp{
    max-width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px
}

.inp_name{
    font-weight: 600;
    margin-bottom: 20px;
}

.floor{
    margin-bottom: 15px;
}

#Block{
    margin-bottom: 20px;
}

.superpow select{
    border-radius: 20px;
    width: 200px;
    height: 35px;
    text-align-last: center;
}

textarea{
    resize: none;
    width: 200px;
    height: 600px;
    border-radius: 20px;
    text-align-last: center
}

textarea:hover{
    background-color: #C9F0FE;
}

input[type=checkbox]:hover{
    width: 17px;
    height: 17px;
}

input[type=submit]{
    font-weight: 700;
    height: 40px;
    width: 220px;
    border-radius: 30px;
    background-color: #121212;
    color: white;
    font-size: 17px
}

footer{
    max-width: 100%;
    height: 300px;
    background-color: #061634;
    padding-bottom: 90px;
}

.footer_wrap{
    padding-top: 180px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-weight: 500;
    font-size: 21px;
    font-family: 'Nunito', sans-serif;
}


.to-the-up a{
    font-weight: 500;
    font-size: 21px;
    font-family: 'Nunito', sans-serif;
    color: white;
    border: 1px solid white;
    padding: 10px 8px;
    border-radius: 25px;
}

